@use "vars" as *;

header {
  background-color: $princeton-orange;
  padding: .2rem 3rem;
  position: sticky;
  box-shadow: 0 0 2px 0 black;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand img {
  height: 3rem;
  transition: transform 0.3s ease;
}

.navbar-brand:hover img {
  transform: scale(1.1);
}

.cart-icon {
  position: relative;
  font-size: 30px;
  color: $black-color;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #212529;
}

.cart-icon:hover {
  transform: scale(1.1);
}

.cart-counter {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: $princeton-orange;
  color: $black-color;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px;
}