@use "vars" as *;

header {
  background-color: $princeton-orange;
  padding: 0rem 3rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand img {
  height: 3rem;
  transition: transform 0.3s ease;
}

.navbar-brand:hover img {
  transform: scale(1.1);
}

.cart-icon {
  position: relative;
  font-size: 30px;
  color: $black-color;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cart-icon:hover {
  transform: scale(1.1);
}

.cart-counter {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: $princeton-orange;
  color: $black-color;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px;
}
