@use "vars" as *;

// Search bar
.input-group {
  padding: 0rem 3rem;
}

.input-group-text {
  background-color: $princeton-orange;
  border-color: $princeton-orange;
  color: $white-color;
}

.form-control {
  border-color: $princeton-orange;
}

// Buttons
// .buttons-container {
//   display: flex;
//   justify-content: center;
// }

// .button {
//   background-color: $princeton-orange;
//   color: $black-color;
//   border: none;
//   padding: 10px 20px;
//   margin-right: 10px;
//   cursor: pointer;
//   font-family: $open-sans;
//   border-radius: 20px;
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
// }

// Info boxes
.card {
  margin-top: 20px;
  border: none;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.card-title {
  color: $princeton-orange;
  font-family: $roboto-condensed;
}

.card-text {
  color: $black-color;
}

//section Work with us
.work-with-us {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.work-with-us h2 {
  color: $princeton-orange;
  font-family: $roboto-condensed;
  font-size: 24px;
  margin-bottom: 10px;
}

.work-with-us p {
  color: $black-color;
  font-family: $open-sans;
  font-size: 16px;
  margin-bottom: 20px;
}

.partner-button {
  background-color: $princeton-orange;
  color: $black-color;
  font-family: $open-sans;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.partner-button:hover {
  background-color: darken($princeton-orange, 10%);
}

.types-section {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
