@use "vars" as *;

// Search bar
.input-group {
  padding: 0rem 3rem;
}

.input-group-text {
  background-color: $princeton-orange;
  border-color: $princeton-orange;
  color: $white-color;
}

.form-control {
  border-color: $princeton-orange;
}

// Buttons
// .buttons-container {
//   display: flex;
//   justify-content: center;
// }

//utils
.cm-button {
  background-color: white;
  color: $princeton-orange;
  font-weight: bold;
  border: 2px solid $princeton-orange;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-family: $open-sans;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);

  &:hover {
    background-color: $princeton-orange;
    color: white;
  }
}




//card

.cm-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

// Info boxes

.my_card {
  position: relative;
  width: 250px;
  height: 250px;
  color: #2e2d31;
  overflow: hidden;
  border-radius: 20px;
  padding: 0;
  
}

.cm-card-img{
  width: 100%;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  color: #f8f8f8;
}

.my_card_title {
  font-weight: bold;
  color: $black-color;
  font-family: $roboto-condensed;
  line-height: 15px;
  font-size: 20px;

}

.my_card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 20px 0 20px;
  background: $white-color;
  border-top-left-radius: 20px;
  transform: translateY(150px);
  transition: transform .25s;
  height: 250px;
}

.my_card_content::before {
  content: '';
  position: absolute;
  top: -48px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px $princeton-orange;
}


.my_card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.my_card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}

.my_card:hover .my_card_content {
  transform: translateY(0);
}

.my_card:hover .my_card_description {
  opacity: 1;
  transition-delay: .25s;
}








// .card {
//   margin-top: 20px;
//   border: none;
//   background-color: #f9f9f9;
//   border-radius: 10px;
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
// }

// .card-title {
//   color: $princeton-orange;
//   font-family: $roboto-condensed;
// }

// .card-text {
//   color: $black-color;
// }

//section Work with us
.work-with-us {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
 
}


.work-with-us h2 {
  color: $princeton-orange;
  font-family: $roboto-condensed;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 10px;
}

.work-with-us p {
  color: $black-color;
  font-family: $open-sans;
  font-size: 16px;
  margin-bottom: 20px;
}

.partner-button {
  background-color: $princeton-orange;
  color: $black-color;
  font-family: $open-sans;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.partner-button:hover {
  background-color: darken($princeton-orange, 10%);
}

.types-section {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}


