$engeneering-orange: #d00000;
$princeton-orange: #f48c06;
$orange-web: #faa307;
$white-color: white;
$black-color: black;

// Fonts
$open-sans: "Open Sans", sans-serif;
$roboto-condensed: "Roboto Condensed", sans-serif;
